/*
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
}*/

body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(248, 248, 248);
}

/* Texto */
h2,h3{
    margin-left: 2em;
    padding: 0;
    display: flex;
    text-decoration: solid;
    text-align: center;
    color: rgb(8, 36, 128);
}
h1{
    text-align: center;
    text-decoration:wavy;
    color: black;
    background: #FEAC5E;
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
}
h2{
    text-transform: uppercase;
}
p{
    text-align: justify;
    margin: 2rem;
}
a:link, a:visited, a:active, a:hover {
    text-decoration:none;
}
li{
    list-style: none;
}

section{
    background-color: rgb(255, 255, 255);
}

/* footer */
footer, footer a{
    display: flex;
    text-decoration: none;
    overflow: hidden;
    color: black;
    background-color: rgb(143, 210, 255);
    margin:0;
    padding: 0;
}
footer a:hover{
    text-decoration: none;
    overflow: hidden;
    border-radius: 0%;
    border-bottom-style: solid;
    border-bottom-color: rgb(130, 189, 238);
    color: rgb(22, 32, 63);
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:first baseline;
}
footer a{
    padding: 0.2rem;
    border-radius: 8%;
}
footer > a{
    padding: 0.6rem;
    border-radius:100%;
}

/* Progress Bar */
progress{
    background-color: rgb(209, 208, 208);
}
progress[value] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
}
progress[value]::-moz-progress-bar { 
    background-image:
/*      -moz-linear-gradient(
        135deg, 
        transparent 33%, 
        rgba(0, 0, 0, 0.1) 33%, 
        rgba(0, 0, 0, 0.1) 66%, 
        transparent 66% 
      ),*/
      -moz-linear-gradient(
        top, 
        #22c1c3, 
        #010252
      ),
      -moz-linear-gradient(
        left, 
        #22c1c3, 
        #010252
      );
  
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%; 
}



/* Modo Oscuro */
.oscuro{ 
    background-color: #1a2c4e; 
    color: #f3f0f0; 
}
.oscuro section{
    background-color: rgb(58, 69, 92);
}
.oscuro h2, .oscuro h3, .oscuro h4{
    color: #31bfc9;
}
.oscuro p{
    color: #ffffff;
}


/* Responsive Design */
@media only screen and (max-width: 600px) {
    .programación{
        display: grid;
        text-align: center;
        width: 100%;
        grid-template-columns: auto;
        padding: 0.1em 0 0.1em;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    body{
        text-align: center;
        align-content: center;
    }
    .programación{
        display: grid;
        text-align: center;
        width: 100%;
        grid-template-columns: auto auto auto;
        padding: 0.1em 0 0.1em;
    }
}

@media only screen and (min-width: 801px) {
    .programación{
        display: grid;
        text-align: center;
        width: 100%;
        grid-template-columns: auto auto auto auto;
        padding: 0.1em 0 0.1em;
    }
}